* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dab488;
  text-align: center;
}

h1 {
  font-size: 35px;
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 17vmin;
  width: 17vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 6vmin;
  color: rgb(255, 0, 85);
  background-color: #ebebd0;
}

#reset-btn {
  padding: 1rem;
  font-size: 1rem;
  background-color: #191913;
  color: white;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

#new-btn {
  padding: 0.9rem;
  font-size: 0.9rem;
  background-color: #191913;
  color: white;
  border-radius: 0.9rem;
  border: none;
  cursor: pointer;
}

#msg {
  background-image: linear-gradient(
    45deg,
    #b00539,
    #ce175d,
    #9e0e37,
    #ff0004,
    #ff0084,
    #10011c
  );
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 1px 0px 1px rgba(211, 18, 18, 0.5);
  font-size: 6vmin;
  font-weight: bold;
}

.msg-container {
  height: 30vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.hide {
  display: none;
}
